@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Reddit+Sans+Condensed:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Reddit+Sans+Condensed:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');
.footer{
    background-color: #fff;
    height: 300px;
    margin-top: 150px;

}
.links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: auto;
    justify-content: center;
    

}
.links #logo{
    width: 250px;
    height: 70px;
    margin: 0 auto;
}
.rs1{
    display:block;
    text-align: center;
    width: 33%;
    height: 200px;
}
.rs1 h2{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.rs1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.rs1 div span{
    margin-right: 15px;
    position: relative; 
}
.rs2{
    display: inline-block;
    height: 200px;
    width: 33%;
    text-align: center;
    
}

.rs2 ul li {
    margin-bottom: 15px;
    
}
.rs2 ul li a{
    color: #222831;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.right{
    display: block;
    text-align: center;
    height: 100px;

}
.right hr{
    width: 50%;
    margin: 0 auto;
    color: #222831;
    margin-bottom: 20px;
    
}
.right p{
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}


.rs2 h1{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}


@media only screen and (max-width: 600px) {
    .footer{
        height: auto;
    }
    .links{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .links #logo{
        width: 200px;
        height: 50px;
        margin-bottom: 50px;
    }
    .rs1{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .rs1 h2{
        font-size: 28px;
     } 
     /*.rs1 div{
        flex-direction: column;
    } */
    .rs2{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .rs2 ul li {
        margin-bottom: 15px;
        padding: 0;
    }
    .rs2 ul li a{
        color: #222831;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
    }
}